body{
    background-image: url("https://cdn3.vectorstock.com/i/1000x1000/08/32/seamless-doodles-background-with-coffee-vector-3430832.jpg");
}
.Instructions_Section{
color:white;
font-size: 40px;
line-height:5px;
width:100%;
padding:20px;
height:15%;
margin-bottom: 20px;
}
.note{
    font-size: 15px;
    padding: 40px;
    color: black;
}
.text_size{
    font-size: 50px;
}
.copyright_footer{
bottom:0;
position:fixed;
width:100%;
background-color: darkcyan;
color:white;
height:5%;
text-align: center;
padding-top: 10px;
}